<h2><%= @title %></h2>
<p><%= @text %></p>

<input type="button"  onclick="location.href='/edit/<%= @title %>'" value="変更">
<form action=<%= "/delete/#{@title}"%> method="POST">
 <input type="hidden" name="title" value="<%= @title %>">
 <input type="hidden" name="text" value="<%= @text %>">
 <input type="hidden" name="_method" value="DELETE">
 <input type="submit" value="削除">
</form>

